.sidebar {
  width: 72;
  background-color: white;
  position: fixed;
  top: 55;
  left: 0;
  bottom: 0px;
  align-items: center;
  padding-top: 5px;
  z-index: 5;
}

.sidebar-link {
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sidebar-link:hover {
  background-color: rgb(235, 235, 235);
  cursor: pointer;
}

.sidebar-link img {
  height: 24px;
  margin-bottom: 6px;
}

.sidebar-link-text {
  font-family: Roboto, Arial;
  font-size: 10px;
}